@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

.seat-container {

    background-color: blue;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: auto;
   // margin-top: 20px;
}

.movie-container {

    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    background-color: palegreen;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 75vh;
    border: 1px solid #000;
    perspective: 1000px;
    margin: auto;

}

.seat {
    background-color: #126511;
    height: 4vh;
    width: 5vh;
    margin: auto;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.booked {
    background-color: darkgrey;
    height: 4vh;
    width: 5vh;
    margin: auto;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bookedbyscript{
    background-color: red;
    height: 4vh;
    width: 5vh;
    margin: auto;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.extracare {
    background-color: #126511;
    height: 4vh;
    width: 5vh;
    margin: auto;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.path{
    background-color: snow;
    height: 4vh;
    width: 5vh;
    margin: auto;
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.seat.selected {
    background-color: #b9090e;
}

.extracare.occupied {
    background-color: #312c2c;
}
.extracare.selected {
    background-color: #b9090e;
}

.seat.occupied {
    background-color: #312c2c;
}
/*.seat:nth-of-type(3) {
  margin-right: 18px;
}

.seat:nth-last-of-type(3) {
  margin-left: 18px;
}*/

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
.extracare:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}
.showcase .extracare:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}
.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;

}

.screen {
    background-color: darkgrey;
    height: 20px;
    width: 100%;
    margin: 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
}
#arcs div {
    border: 5px solid #000; /* the 'strokes' of the arc */
    display: inline-block;
    min-width: 24em; /* the width of the innermost element */
    min-height: 7em; /* the height of the innermost element */
    padding: 0.5em; /* the spacing between each arc */
    border-radius: 50%; /* for making the elements 'round' */
    border-left-color: transparent;
    border-right-color: transparent;
    /* border-top-color: transparent;  hiding the top border */
    border-bottom-color: transparent;
}

#arcs1 div {
    border: 5px solid #000; /* the 'strokes' of the arc */
    display: inline-block;
    min-width: 80%; /* the width of the innermost element */
    min-height: 7em; /* the height of the innermost element */
    padding: 0.5em; /* the spacing between each arc */
    border-radius: 50%; /* for making the elements 'round' */
    border-left-color: transparent;
    border-right-color: transparent;
    /* border-top-color: transparent;  hiding the top border */
    border-bottom-color: transparent;
    margin-top: 20px;
}
table{

    width: 80%;
    margin: auto;
}
.seat-details-container{
    background: #6feaf6;
   float: left;
}