<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Make My Movie Admin Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Make My Movie Admin Page</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
       <!-- <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Teacher Management</a>
            </li>
        </ul>-->
    </div>
    <form action=#  th:action="@{/logout}" method="post">
        <button style="font-size:24px;border: 0; background: transparent;color:white;cursor: hand;cursor: pointer;">Log-out <i class="fa fa-sign-out"></i>
        </button>
    </form>
</nav>

<div class ="container">
    <div class = "row">
        <h1> List of Movies </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/admin/add-newmovie}" class = "btn btn-primary btn-sm mb-3"> Get Movies</a>
        </div>
    </div>
    <table class = "table table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Actions</th>
            <th> Movie Title</th>
            <th> Theater Name</th>
            <th> Screen Name </th>
            <th> Shows </th>
            <th> Start Date </th>
            <th> End Date </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "movie: ${moviesDTOS}">
            <td th:if="${movie.getShows().isEmpty()}">
                <a th:href="@{/admin/asign-page/{id}(id=${movie.getTitle()})}">
                <i class="fa fa-edit" style="font-size:24px;color:black;margin-left: 20px"></i>
                </a>
                    <a th:href="@{admin/deleteby-movieId/{id}(id=${movie.getTitle()})}">
                <i class="fa fa-trash-o" style="font-size:24px;color:black;margin-left: 30px"></i>
                </a>
            </td>


            <td th:if="${movie.getShows().isEmpty()}">
                <div  th:text ="${movie.getTitle()}"></div>

            </td>

        </tr>
        <tr th:each = "movie: ${moviesDTOS}">
            <td th:unless="${movie.getShows().isEmpty()}">
                <a th:href="@{/admin/edit-page/{id}(id=${movie.getTitle()})}">
                    <i class="fa fa-edit" style="font-size:24px;color:black;margin-left: 20px"></i>
                </a>
                <a th:href="@{admin/deleteMovieAndShows/{id}(id=${movie.getTitle()})}">
                    <i class="fa fa-trash-o" style="font-size:24px;color:black;margin-left: 30px"></i>
                </a>
            </td>
            <td th:unless="${movie.getShows().isEmpty()}">
                <div  th:text ="${movie.getTitle()}"></div>

            </td>
            <td th:unless="${movie.getShows().isEmpty()}">
                <div  th:text ="${movie.getShows().get(0).getScreen().getTheatre().getTheatreName()}"></div>
            </td>
            <td th:unless="${movie.getShows().isEmpty()}">
                <div  th:text ="${movie.getShows().get(0).getScreen().getScreenName()}"></div>
            </td>
            <td th:unless="${movie.getShows().isEmpty()}" >
                <div th:each="m : ${movie.getShows()}">
                <div  th:text ="${m.getShowTime()}"></div>
                </div>
            </td>
            <td th:unless="${movie.getShows().isEmpty()}">
                <div  th:text ="${movie.getShows().get(0).getStartDate()}"></div>
            </td>
            <td th:unless="${movie.getShows().isEmpty()}">
                <div  th:text ="${movie.getShows().get(0).getEndDate()}"></div>
            </td>
        </tr>


            <!--     <td th:text = "${movie.getShows().get(0).getScreen().getTheatre().getTheatreName()}"></td>
              <td th:text = "${movie.getShows().get(0).getScreen().screenName}"></td>
              <td th:text = "${movie.getShows().get(0).getShowTime()}"></td>
              <td th:text = "${movie.getShows().get(0).getStartDate()}"></td>
              <td th:text = "${movie.getShows().get(0).getEndDate()}"></td>-->


         </tbody>

     </table>

 </div>
 </body>
 </html>