<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Ticket</title>
    <link rel="stylesheet" type="text/css" href="assets/css/e-ticket.css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/e-ticket.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<!-- Header Starts -->
<header class="header fixed-top">
    <!--/nav-->
    <nav >
        <div class="header-container">
            <a class="navbar-brand" href="/index">
                <span class="play fa fa-film"></span>
                <span class="font-effect-shadow-multiple">Make My Movie</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Header ends -->

    <div class="ticket">
        <div class="holes-top"></div>
        <div class="title">
            <p class="cinema">Perscholas Entertainment PRESENTS</p>
            <p class="movie-title" >Movie Name</p>
        </div>
        <div class="poster">
            <img src="img/QRCode.jpg"
                alt="Movie" />
        </div>
        <div class="info">
            <table>
                <tr>
                    <th>SCREEN</th>
                    <th>ROW</th>
                    <th>SEAT</th>
                </tr>
                <tr>
                    <td class="bigger">18</td>
                    <td class="bigger">H</td>
                    <td class="bigger">24</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>PRICE</th>
                    <th>DATE</th>
                    <th>TIME</th>
                </tr>
                <tr>
                    <td>Rs. 12.00</td>
                    <td>4/13/21</td>
                    <td>19:30</td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>